/* 1170 */
@media(max-width:1170px) {
  .features .container .wrapper .card:nth-child(2) {
    order: 1;
  }

  .easy .wrapper {
    flex-wrap: wrap;
  }

  .easy .btn {
    margin-top: 20px;
  }

}


/* 1140 */
@media(max-width:1140px) {
  .hero .container .img-block img {
    width: 600px;
  }

  .easy .wrapper {
    justify-content: center;
  }

  .start::after,
  .start::before {
    width: 550px;
    height: 350px;
  }
}

/* 990 */
@media(max-width:990px) {
  .hero .container .img-block img {
    width: 400px;
  }

  .human .container .img-block img,
  .play .container .img-block img {
    width: 350px;
  }
}

/* 770 */
@media(max-width: 770px) {
  .header .container .burger {
    display: block;
  }

  .header .container .menu {
    display: none;
  }

  .hero .container,
  .human .container,
  .play .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .play .container .img-block {
    order: -1;
  }

  .easy .wrapper .item:last-child::after {
    display: none;
  }

  .easy .wrapper .arrow {
    width: 450px !important;
    transform: rotate(90deg);
  }

  .start::after,
  .start::before {
    width: 200px;
    height: 250px;
  }
}


/* 500 */
@media (max-width:500px) {
  .hero .container .img-block img {
    width: 300px;
  }

  .human .container .img-block img,
  .play .container .img-block img {
    width: 250px;
  }

  .start::after,
  .start::before {
    width: 200px;
    height: 160px;
  }
}